{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
  Cart
{% endblock %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
     <h4 class="text-secondary">Continue to Purchase</h4>
     <hr />
    {% comment %} <h4 class="text-center mb-5 text-secondary ">Continue to Purchase</h4>
    <hr class="mt-0"> {% endcomment %}
    <div class="col-sm-8 cart_products">
     <div class="card mb-2 shadow-sm cart_product">
          <div class="card-body">
          <div class="row">
               <div class="col-sm-3 text-center align-self-center">
               <img src="{{ cart_product.product.product_image.url }}" alt="{{ cart_product.product.title }}" class="img-fluid img-thumbnail shadow-sm" height="150" width="150" />
               </div>
               <div class="col-sm-9">
               <div>
               <h5>{{ cart_product.product.title }}</h5>
               <p class="mb-2 text-muted small">
                    {% if cart_product.product.description|wordcount >= 30 %}
                         {{ cart_product.product.description|truncatewords:30 }} 
                    {% else %}
                         {{ cart_product.product.description }}
                    {% endif %}
               </p>
               <div class="my-3 quantity_block">
                    <label for="quantity">Quantity:</label>
                    <button class="minus-cart btn minus_cart_b" cid="{{ cart_product.id }}" style="outline: none;border: none;"><i class="fas fa-minus-square fa-lg"></i></button>
                    <span class="quantity">{{ cart_product.quantity }}</span>
                    <button class="plus-cart btn plus_cart_b" cid="{{ cart_product.id }}" style="outline: none;border: none;"><i class="fas fa-plus-square fa-lg"></i></button>
                    <p class="mb-0 float-end d-inline">
                         <span><strong class="product_price">{{ cart_product.product.discounted_price|format_indian }}</strong></span>
                    </p>
               </div>

               </div>
               </div>
          </div>
          </div>
     </div>
    </div>

    <div class="col-sm-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3>Total Order Value</h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
              Amount<span id="amount">{{ cart_product.product.discounted_price|format_indian }} x {{ cart_product.quantity }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0">
              Shipping<span id="total_shipping">{{ total_shipping|format_indian }}</span>
            </li>
            <hr class="my-0">
            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
              <div>
                <strong>Total</strong> <small>(including VAT)</small>
              </div>
              <span><strong id="total_amount">{{ total_amount|format_indian }}</strong></span>
            </li>
          </ul>
          <div class="d-grid">
            <a href="{% url 'checkout' cart_product.id %}" class="btn btn-success place_order_btn ">Place Order</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-4">We accept</h5>
          <img src="{% static 'app/images/payment.png' %}" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
