{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Changed{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
   <div class="col-sm-2 border-end">
      {% with truncated_username=request.user.username|slice:":6" %}
      <h3 class="text-secondary fs-6">
        Welcome {{ truncated_username }}{% if request.user.username|length > 6 %}...{% endif %}
      </h3>
    {% endwith %}
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 mx-auto text-center">
   <h3 class="text-success">Password Changed Successfully!!!</h3>
   <iframe src="{% static 'app/images/iframe/pass_success.gif' %}" frameborder="0" scrolling="no" width="400" height="400"></iframe>
</div>

 </div>
</div>
{% endblock main-content %}